appdirs==1.4.3
beautifulsoup4==4.5.3
bleach==2.0.0
Django==1.10.7
django-modelcluster==3.1
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.6.2
html5lib==0.999999999
Markdown==2.6.8
olefile==0.44
packaging==16.8
Pillow==4.1.0
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
six==1.10.0
Unidecode==0.4.20
wagtail==1.9
webencodings==0.5.1
Willow==0.4
